[user]
	email = lucas.henrique.martins@hotmail.com
	name = Lucas H. T. Martins
[init]
	defaultBranch = main
[core]
	editor = vim
[commit]
	template = /home/lucas/.gitmessage.txt
[alias]
	graph = log --all --graph --decorate --oneline
